<section class="container" [ngClass]="{'loading': !taskList.length}">
  <ul *ngIf="taskList.length">
    <li *ngFor="let task of taskList; let i = index">
      <input type="checkbox"  [(ngModel)]="task.checked">
      <input type="text"  [(ngModel)]="task.task">

      <button (click)="deleteTask(i)">
        <img src="assets/icons/Vector.svg" alt="">
      </button>
    </li>
  </ul>
</section>


<app-todo-add-itens (newTaskEmiter)="setNewTaskList($event)"></app-todo-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length"></app-todo-button-delete-all>
